
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,300,300italic,400italic,700,700italic);

.editor{
    min-height: 37em;
    background-color: #fafafa;
    font-size: 90%;
}
pre{
    margin: 0px;
}
.notebook{
    background: #fff;
    height: 20em;
}
.terminal{
    padding: 10px;
    font-size: 90%;
    margin-top: 1em;
    background: #1a1e1c;
    height: 10em;
    color: #f2efe8;
}
.pillbox{
    margin-top: 10px;
}

.notebook{
    padding: 10px;
}

.nb-row{
    padding: 2px;
    display: flex;
    font-size: 90%;
}
.nb-prompt{
    padding-top: 5px;
    width: 4em;
    font-style: monospace;
    float: left;
    margin-right: 5px;
    text-align: right;
    font-family: 'Inconsolata', sans-serif;
}

#nb-prompt-in{
    color: #303F9F;    
}

#nb-prompt-out{
    color: #D84315;
}
.nb-cell{
    flex-grow: 1;
}

.nb-cell-in{
    background: #fefefe;
    border: solid 1px #ccc;
}

.nb-cell-out code{
    padding: 5px !important;
    background: white;
}

.nb-cell code {
    padding: 5px !important;
}

.section{
    font-size: 80%;
    width: 25%;
    background: #eee;
    float: left;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.stage{
    text-align: center;
}
code{
    font-family: 'Inconsolata', sans-serif;
    tab-size: 2;
    display: none;
}
body{
    background-color: #faf8f4;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

#console{
    font-size: 90%;
    font-family: sans-serif;
}

.active {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    background-color: #eee
  }
  50% {
    background-color: #81bd9d;        
  }
  100% {
    background-color: #eee;
  }
}

.done {
    background-color: #81bd9d;
}

.mf_title{
    color: #d78bd6;
}

.mf_tstamp{
    color: #aaa;
}